.header h1 {
  position: relative;
  top:-275px;
  left:130px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Georgia", serif;
  color: #555;
  line-height: 1.5;
  padding: 3em 1em;
}

.body img {
  width: 100px;
  height: 100px;
  background: #555;
}

h2 {
  margin-top: 1em;
  padding-top: .5em;
  strong {
    color: #333;
}
